* {
    box-sizing: border-box;

}

body {
    margin: 0;
    background-color: #f0f2f5;
    font-family: Arial, sans-serif;

}

.page {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.layout {
    display: flex;
    gap: 50px;
    max-width: 900px;
    align-items: center;
}

.brand_logo {
    font-size: 55px;
    margin: 0;
    font-weight: bold;
    color: #1877f2;
}

.brand_tagline {
    margin: 12px 0 0;
    font-size: 25px;
}

.card {
    background: white;
    padding: 20px;
    width: 396px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0 , 0, 0, 0.2);
}

.form {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.field {
    display: flex;
    flex-direction: column;
    gap: 6px;

}

label {
    font-size: 13px;
    color: #606770;
}

input {
    width: 100%;
    height: 44px;
    padding: 0 12px;
    border: 1px solid #dddfe2;
    border-radius: 6px;
    font-size: 16px;
    outline: none;
}

input:focus {
  border-color: #1877f2;
  box-shadow: 0 0 0 3px rgba(24, 119, 242, 0.15);
}

button {
  width: 100%;
  height: 44px;
  border: none;
  border-radius: 6px;
  background: #1877f2;
  color: white;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.create {
  margin: 0;
  font-size: 14px;
  color: #1c1e21;
  text-align: center;
  max-width: 396px; 
}


.create strong {
  font-weight: 700;
}

button:hover {
  background: #166fe5;
}

.center {
  text-align: center;
}

.link {
  color: #1877f2;
  font-size: 14px;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.divider {
  height: 1px;
  background: #dadde1;
  margin: 6px 0;
}

.btn-green {
  display: inline-block;
  background: #42b72a;
  color: white;
  font-weight: bold;
  text-decoration: none;
  padding: 12px 16px;
  border-radius: 6px;
}

.btn-green:hover {
  background: #36a420;
}

.links {
  width: 100%;
  background: #fff;
  border-top: 1px solid #dddfe2;
  padding: 20px 24px;
  font-size: 12px;
  color: #737373;
}

.languages,
.help {
  max-width: 980px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 10px 14px; 
  line-height: 1.6;
}

.languages {
  padding-bottom: 10px;
  border-bottom: 1px solid #dddfe2;
  margin-bottom: 10px;
}

.links a {
  color: #737373;
  text-decoration: none;
  white-space: nowrap;
}

.links a:hover {
  text-decoration: underline;
}

.meta {
  max-width: 980px;
  margin: 10px auto 0;
}

.auth {
  display: flex;
  flex-direction: column;
  align-items: center; 
  gap: 18px;
}